HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
/docker/db
/docker/data
/docker/redis
**/mongodb
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
logs

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### yml ###
application-local.yml
application.pid
/src/main/generated/com/dutaduta/sketchme/member/domain/QArtist.java
/src/main/generated/com/dutaduta/sketchme/member/domain/QArtistHashtag.java
/src/main/generated/com/dutaduta/sketchme/videoconference/domain/QBackgroundImage.java
/src/main/generated/com/dutaduta/sketchme/common/domain/QBaseEntity.java
/src/main/generated/com/dutaduta/sketchme/videoconference/domain/QBGM.java
/src/main/generated/com/dutaduta/sketchme/common/domain/QCategory.java
/src/main/generated/com/dutaduta/sketchme/common/domain/QCategoryHashtag.java
/src/main/generated/com/dutaduta/sketchme/chat/domain/QChat.java
/src/main/generated/com/dutaduta/sketchme/chat/domain/QChatRoom.java
/src/main/generated/com/dutaduta/sketchme/member/domain/QFavoriteArtist.java
/src/main/generated/com/dutaduta/sketchme/product/domain/QFavoritePicture.java
/src/main/generated/com/dutaduta/sketchme/common/domain/QHashtag.java
/src/main/generated/com/dutaduta/sketchme/meeting/domain/QMeeting.java
/src/main/generated/com/dutaduta/sketchme/product/domain/QPicture.java
/src/main/generated/com/dutaduta/sketchme/product/domain/QPictureHashtag.java
/src/main/generated/com/dutaduta/sketchme/review/domain/QReview.java
/src/main/generated/com/dutaduta/sketchme/product/domain/QTimeLapse.java
/src/main/generated/com/dutaduta/sketchme/member/domain/QUser.java
/src/main/generated/com/dutaduta/sketchme/videoconference/domain/QVideoConference.java

*.env
*.pid
*.png
*.xml
*.jpg
